@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 82 25% 99%;
    --foreground: 240 10% 3.9%;

    --card: 82 20% 99%;
    --card-foreground: 240 10% 3.9%;

    --popover: 82 20% 99%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 196 98% 45%;
    --primary-foreground: 0 0% 98%;

    --secondary: 196 45% 90%;
    --secondary-foreground: 196 60% 25%;

    --muted: 196 40% 95%;
    --muted-foreground: 196 35% 35%;

    --accent: 196 65% 35%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --chart-1: 82 65% 35%;

    --chart-2: 196 98% 45%;

    --chart-3: 82 55% 45%;

    --chart-4: 196 80% 35%;

    --chart-5: 82 45% 55%;
  }

  .dark {
    --background: 240 15% 8%;
    --foreground: 0 0% 98%;

    --card: 240 15% 9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 15% 9%;
    --popover-foreground: 0 0% 98%;

    --primary: 196 98% 45%;
    --primary-foreground: 0 0% 98%;

    --secondary: 196 40% 20%;
    --secondary-foreground: 196 60% 40%;

    --muted: 196 40% 15%;
    --muted-foreground: 196 40% 70%;

    --accent: 196 60% 40%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 82 60% 40%;
    --chart-2: 196 98% 45%;
    --chart-3: 82 55% 50%;
    --chart-4: 196 80% 50%;
    --chart-5: 82 45% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
